    .logo {
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
    }
    
    .start {
        font-family: 'acier-solid';
        text-align: center;
        font-weight: normal;
    }
    
    @font-face {
        src: url("Font/Acier/aciertext-solid.otf");
        font-family: 'acier-solid';
    }
    
    @font-face {
        src: url("Font/Europa Nuova/EuropaNuovaRegular.ttf");
        font-family: "Europa Nuova";
    }
    
    .conteiner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }
    
    .item1 {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    
    .item2 {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item3 {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item4 {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item5 {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item6 {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item7 {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item8 {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item9 {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item10 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item11 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item12 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item13 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item14 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .footer {
        padding-top: 225px;
        padding-bottom: 30px;
    }
    
    p {
        text-align: center;
        font-size: 15px;
        font-weight: bolder;
        font-family: "Europa Nuova";
    }
    
    @media screen and (max-width: 600px) {
        h1 {
            font-size: 1em;
        }
        p {
            font-size: 0.5em;
        }
    }