.logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.footer {
    padding-top: 225px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Europa N";
    font-size: 15px;
    font-weight: bolder;
    font-family: "Europa Nuova"
}

.conteiner {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.start {
    font-family: 'acier-solid';
    text-align: center;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

@font-face {
    src: url("Font/Acier/aciertext-solid.otf");
    font-family: 'acier-solid';
}

@font-face {
    src: url("Font/Europa Nuova/EuropaNuovaRegular.ttf");
    font-family: "Europa Nuova";
}

.item1 {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-image: url("PICTURE/X FASHION/NARUTO X FASHION/01.jpg");
    background-position-y: center;
    background-position-x: -550px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.item2 {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-image: url("PICTURE/X FASHION/GHIBLI X FASHION/03.jpg");
    background-position-y: -500px;
    background-position-x: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.item3 {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-image: url("PICTURE/X FASHION/ATLA X FASHION//01.jpg");
    background-position-y: -650px;
    background-position-x: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.item4 {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-image: url("PICTURE/X FASHION/OOTD/07.jpg");
    background-position-y: -250px;
    background-position-x: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.item5 {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-image: url("PICTURE/X FASHION/DEVILMAN X FASHION/01.jpg");
    background-position-y: -100px;
    background-position-x: -250px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.footer {
    padding-top: 225px;
    padding-bottom: 30px;
}

p {
    text-align: center;
    font-family: "Europa N";
    font-size: 15px;
    font-weight: bolder;
    font-family: "Europa Nuova"
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    padding-top: 40%;
    font-family: 'acier-solid';
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.gxf {
    color: black;
}

@media screen and (min-width: 991px) and (max-width:1571px) {
    .conteiner div {
        margin: 20px auto;
    }
}

@media screen and (min-width: 768px) and (max-width:990px) {
    .conteiner div {
        width: 250px;
        height: 250px;
    }
    h2 {
        font-size: 25px;
        padding-top: 45%;
    }
}

@media screen and (max-width: 767px) {
    .conteiner div {
        width: 250px;
        height: 250px;
        margin: 20px auto;
    }
    h2 {
        font-size: 25px;
        padding-top: 45%;
    }
}

.conteiner img {
    width: 100%;
    height: auto;
}

.conteiner div {
    margin: 1.5em 1.5em;
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 1em;
    }
    p {
        font-size: 0.5em;
    }
    .conteiner div {
        width: 200px;
        height: 200px;
    }
}